<!DOCTYPE html>
<html>
<head>
  <title>
    Mini-Source Island
  </title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/island.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="page-title">
        <h1 class="fz-xl fc-white outline mg-no lh-touch">
          Mini-<br>
          Source<br>
          Island
        </h1>
        <p class="fc-white bc-black subtext">
          A source-code getaway.
        </p>
      </div>
      <div class="article-title">
        <h1 class="ta-c fz-xl fc-white outline mg-no lh-touch"><br>
          <!-- <span class="logo">-f- </span> -->
          link_to [Rails]
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="note">
        <p>
          <em>
            <strong>link_to</strong> seems pretty nice, though it takes some big leaps. It looks like the link text is the first argument, then... an object, or a string, or a hash, or a symbol... or a ball, a sandwich... can literally anything go here? Let's find out.
          </em>
        </p>
        <p class="ta-c">
          <em>
            Eric Saxman | 'Andrelton' - 2015.<br>Find me on <a href="https://github.com/Andrelton">GitHub</a> | <a href="https://www.linkedin.com/in/ericsaxman">LinkedIn</a>.
          </em>
        </p>
      </div>
      <div class="code">
        <pre class="example">
Example:

  <% @photos.each do |photo| %>
     ...
     <%= link_to 'View Photo', photo %>
  <% end %>
        </pre>

      </div>
    </div>

<!--     <div class="row">
      <div class="note">
        <p>

        </p>
      </div>
      <div class="code">
        <p class="source">

        </p>
        <pre>


        </pre>
      </div>
    </div> -->

    <div class="row">
      <div class="note">
        <p>
          <strong>link_to</strong> receives the desired link text as <strong>name</strong>, along with various other options.
        </p>

        <p>
          <strong>url_for</strong> is used to build a url from the provided <strong>options</strong>, which in this example is a photo model object.
        </p>

        <p>
          Later, <strong>content_tag</strong> will return the html element for the link using:<br>
            - an anchor tag<br>
            - the link text as provided above, or the url, as a default<br>
            - the html options (e.g. class, data), including the url generated above
        </p>
      </div>
      <div class="code">
        <p class="source">rails/actionview/lib/action_view/helpers/url_helper.rb</p>
        <pre>
def <span class="main-function">link_to</span>(name = nil, options = nil, html_options = nil, &block)
  html_options, options, name = options, name, block if block_given?
  options ||= {}

  html_options = convert_options_to_data_attributes(options, html_options)

  url = <span class="main-function">url_for</span>(options)
  html_options['href'] ||= url

  <span class="main-function">content_tag</span>(:a, name || url, html_options, &block)
end
        </pre>
      </div>
    </div>

    <div class="row">
      <div class="note">
        <p>
          <strong>url_for</strong> is called in <strong>link_to</strong> regardless of the option type. Thus, if <strong>options</strong> is a string, it is assumed to be a url, and it is returned unchanged.
        </p>

        <p>
          Otherwise, a url is built from the provided options. For example, if options is a model (as in the example, a common usage), <strong>handle_model_call</strong> is used to construct the url.
        </p>

        <p>
          The controller instance (self) and the options are passed along as arguments.
        </p>
      </div>
      <div class="code">
        <p class="source">
          rails/actionpack/lib/action_dispatch/routing/url_for.rb
        </p>
        <pre>
def <span class="main-function">url_for</span>(options = nil)
  case options
  when nil
    _routes.url_for(url_options.symbolize_keys)
  when Hash
    route_name = options.delete :use_route
    _routes.url_for(options.symbolize_keys.reverse_merge!(url_options),
                   route_name)
  when String
    options
  when Symbol
    HelperMethodBuilder.url.handle_string_call self, options
  when Array
    polymorphic_url(options, options.extract_options!)
  when Class
    HelperMethodBuilder.url.handle_class_call self, options
  else
    HelperMethodBuilder.url.<span class="sub-function">handle_model_call</span> self, options
  end
end
        </pre>
      </div>
    </div>


    <div class="row">
      <div class="note">
        <p>
          In the example above, it would be common to see routing methods like 'photo_path(photo)' in the app's views. With the help of the subsequent three methods, <strong>handle_model_call</strong> will send a method (photo_path) to the target (the photos controller) with the photo as the argument.
        </p>

        <p>
          <strong>handle_model</strong> constructs that 'photo_path' string, which will be sent to the controller.
        </p>

        <p>
          <strong>model_name</strong>, called on the photo object, allows <strong>get_method_for_string</strong> to construct 'photo_path'.
        </p>

        <p>
          These methods are being called on an instance of HelperMethodBuilder. 'path' is the suffix held as an attribute on that instance.
        </p>

        <p>
          Upon sending the photos controller the 'photo_path' method, <strong>handle_model_call</strong> will receive a string like '/photos/< photo's id >'. It passes this back to url_for, which returns it to <strong>link_to</strong>. <strong>link_to</strong> now has a url for use in <strong>content_tag</strong>'s construction of the html element for the link.
        </p>
      </div>
      <div class="code">
        <p class="source">
          rails/actionpack/lib/action_dispatch/routing/polymorphic_routes.rb
        </p>
        <pre>
def <span class="sub-function">handle_model_call</span>(target, model)
  method, args = <span class="sub-function">handle_model</span> model
  target.send(method, *args)
end

def <span class="sub-function">handle_model</span>(record)
  args  = []

  model = record.to_model
  named_route = if model.persisted?
                  args << model
                  get_method_for_string model.model_name.singular_route_key
                else
                  <span class="sub-function">get_method_for_class</span> model
                end

  [named_route, args]
end

def <span class="sub-function">get_method_for_class</span>(klass)
  name   = @key_strategy.call klass.model_name
  <span class="sub-function">get_method_for_string</span> name
end

def <span class="sub-function">get_method_for_string</span>(str)
  "#{prefix}#{str}_#{suffix}"
end
        </pre>
      </div>
    </div>


    <div class="row">
      <div class="note">
        <p>
          <strong>content_tag</strong> simply prepares the arguments to be sent along to <strong>content_tag_string</strong>.
        </p>
      </div>
      <div class="code">
        <p class="source">
          rails/actionview/lib/action_view/helpers/tag_helper.rb
        </p>
        <pre>
def <span class="main-function">content_tag</span>(name, content_or_options_with_block = nil, options = nil, escape = true, &block)
  if block_given?
    options = content_or_options_with_block if content_or_options_with_block.is_a?(Hash)
    content_tag_string(name, capture(&block), options, escape)
  else
    <span class="sub-function">content_tag_string</span>(name, content_or_options_with_block, options, escape)
  end
end
        </pre>
      </div>
    </div>

    <div class="row">
      <div class="note">
        <p>
          <strong>content_tag_string</strong> returns an html-element string, the final result of <strong>link_to</strong>.
        </p>
      </div>
      <div class="code">
        <p class="source">

        </p>
        <pre>
def <span class="sub-function">content_tag_string</span>(name, content, options, escape = true)
   tag_options = tag_options(options, escape) if options
   content     = ERB::Util.unwrapped_html_escape(content) if escape
   "<#{name}#{tag_options}>#{PRE_CONTENT_STRINGS[name.to_sym]}#{content}</#{name}>".html_safe
end
        </pre>
      </div>
    </div>

    <div class="row">
      <div class="note"><p></p></div>
      <div class="code">
        <pre class="example">
Result:

    "&lt;a href="/photos/< id >"&gt;View Photo&lt;/a&gt;"
        </pre>
      </div>
    </div>

  </div>
</body>
</html>
