h1 {
    padding-left: 5%;
    padding-top: 1em;    
    color: white;
    background-color: darkslateblue;
    font-weight: normal;
}


h4 span {
    color: grey;
    font-weight: normal;
    padding
}

section {
    padding-left: 5%;
    padding-right: 2%;
    margin-bottom: 4em;

}