h1 {
    padding-left: 5%;
    padding-top: 1em;
    color: white;
    background-color: darkslateblue;
    font-weight: normal;
    font-family: Times;
}

.center {
    text-align: center;
}


h4 span {
    color: grey;
    font-weight: normal;
    padding
}

section {
    padding-left: 5%;
    padding-right: 2%;
    margin-bottom: 4em;

}

img {
    margin-left: auto;
    margin-right: auto;
}

.code {
    font-family: Courier;
    margin-left: 5%;
}

.quote {
    margin-left: 5%;
    margin-right: 5%;
}