a {
  text-decoration: none;
}

.bar {
  top: 0.2em;
  position: absolute;
  width: 70%;
  text-align: right;
  font-size: 9em;

}

a:visited {
  color: black;
}

.main a {
  color: crimson;
}
#small {
  font-size: 0.5em;
  line-height: 10%
}

.nav:visited {
  color: white;
}

.nav {
  position: relative;
  height: 1em;
  width: 25%;
  margin-left: auto;
  color: white;
  text-align: right;
  padding: 0.4em;
  font-size: 1.5em;
}

#nav1 {
  background-color: deepskyblue;
}

#nav2 {
  background-color: chartreuse;
}

#nav3 {
  background-color: gold;
}

#nav4 {
  background-color: deeppink;
}

#nav5 {
  background-color: blueviolet;
}

.twitter {
  position: relative;
  float: right;
  text-align: right;
  font-size: 1.5em;
  padding-right: 0.4em;
  width: 15%
}

.main {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  padding: 2em;
  float: right;
  width: 63%;
}

#footer {
  background-color: dimgrey;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin: auto;
  height: 1.5em;
  width: 50%;
  text-align: center;
  padding-top: 0.6em;
  color: white;

}


#nav1:hover {
  color: black;
  background-color: yellow;
}

#nav2:hover {
  color: black;
  background-color: yellow;
}

#nav3:hover {
  color: black;
  background-color: yellow;
}

#nav4:hover {
  color: black;
  background-color: yellow;
}

#nav5:hover {
  color: black;
  background-color: yellow;
}

